# 模型配置YAML文件
qwen3-next-80b-a3b-instruct:
  type: openai
  base_url: https://openrouter.ai/api/v1
  api_key: N2Mze2ORgiKZX7Ib2hqp5sFttd2itpVm2qg7KI3I/xbrE8YFubOv9CE6HAvywuK+wnIuCi5NQVHbnAkFpPcLlfjMHRN+wZFGg1GTTJ1tqVqQQ9rqwb+97G6R7bbJp7/D
  model_name: qwen/qwen3-next-80b-a3b-instruct
gpt-5-nano:
  type: openai
  base_url: https://openrouter.ai/api/v1
  api_key: N2Mze2ORgiKZX7Ib2hqp5sFttd2itpVm2qg7KI3I/xbrE8YFubOv9CE6HAvywuK+wnIuCi5NQVHbnAkFpPcLlfjMHRN+wZFGg1GTTJ1tqVqQQ9rqwb+97G6R7bbJp7/D
  model_name: openai/gpt-5-nano
gpt-5-mini:
  type: openai
  base_url: https://openrouter.ai/api/v1
  api_key: N2Mze2ORgiKZX7Ib2hqp5sFttd2itpVm2qg7KI3I/xbrE8YFubOv9CE6HAvywuK+wnIuCi5NQVHbnAkFpPcLlfjMHRN+wZFGg1GTTJ1tqVqQQ9rqwb+97G6R7bbJp7/D
  model_name: openai/gpt-5-mini
gpt-5-chat:
  type: openai
  base_url: https://openrouter.ai/api/v1
  api_key: N2Mze2ORgiKZX7Ib2hqp5sFttd2itpVm2qg7KI3I/xbrE8YFubOv9CE6HAvywuK+wnIuCi5NQVHbnAkFpPcLlfjMHRN+wZFGg1GTTJ1tqVqQQ9rqwb+97G6R7bbJp7/D
  model_name: openai/gpt-5-chat
claude-sonnet-4:
  type: openai
  base_url: https://openrouter.ai/api/v1
  api_key: N2Mze2ORgiKZX7Ib2hqp5sFttd2itpVm2qg7KI3I/xbrE8YFubOv9CE6HAvywuK+wnIuCi5NQVHbnAkFpPcLlfjMHRN+wZFGg1GTTJ1tqVqQQ9rqwb+97G6R7bbJp7/D
  model_name: anthropic/claude-sonnet-4
deepseek-chat:
  type: openai
  base_url: https://api.deepseek.com/v1
  api_key: Rw4qs+UjVi09dvtN+0AcnysnqU7VqGP2rSsYil2ZbUcY3lapzO3X6M4UMo4awNtRckHlbcCeHlS3FTrJoe/Xlw==
  model_name: deepseek-chat
deepseek-reasoner:
  type: openai
  base_url: https://api.deepseek.com/v1
  api_key: Rw4qs+UjVi09dvtN+0AcnysnqU7VqGP2rSsYil2ZbUcY3lapzO3X6M4UMo4awNtRckHlbcCeHlS3FTrJoe/Xlw==
  model_name: deepseek-reasoner
gpt-oss-120b:
  type: openai
  base_url: https://openrouter.ai/api/v1
  api_key: N2Mze2ORgiKZX7Ib2hqp5sFttd2itpVm2qg7KI3I/xbrE8YFubOv9CE6HAvywuK+wnIuCi5NQVHbnAkFpPcLlfjMHRN+wZFGg1GTTJ1tqVqQQ9rqwb+97G6R7bbJp7/D
  model_name: openai/gpt-oss-120b
gemini-2.5-flash:
  type: openai
  base_url: https://openrouter.ai/api/v1
  api_key: N2Mze2ORgiKZX7Ib2hqp5sFttd2itpVm2qg7KI3I/xbrE8YFubOv9CE6HAvywuK+wnIuCi5NQVHbnAkFpPcLlfjMHRN+wZFGg1GTTJ1tqVqQQ9rqwb+97G6R7bbJp7/D
  model_name: google/gemini-2.5-flash
gemini-2.5-flash-lite:
  type: openai
  base_url: https://openrouter.ai/api/v1
  api_key: N2Mze2ORgiKZX7Ib2hqp5sFttd2itpVm2qg7KI3I/xbrE8YFubOv9CE6HAvywuK+wnIuCi5NQVHbnAkFpPcLlfjMHRN+wZFGg1GTTJ1tqVqQQ9rqwb+97G6R7bbJp7/D
  model_name: google/gemini-2.5-flash-lite
gemini-2.5-flash-preview-09-2025:
  type: openai
  base_url: https://openrouter.ai/api/v1
  api_key: N2Mze2ORgiKZX7Ib2hqp5sFttd2itpVm2qg7KI3I/xbrE8YFubOv9CE6HAvywuK+wnIuCi5NQVHbnAkFpPcLlfjMHRN+wZFGg1GTTJ1tqVqQQ9rqwb+97G6R7bbJp7/D
  model_name: google/gemini-2.5-flash-preview-09-2025
gemini-2.5-flash-lite-preview-09-2025:
  type: openai
  base_url: https://openrouter.ai/api/v1
  api_key: N2Mze2ORgiKZX7Ib2hqp5sFttd2itpVm2qg7KI3I/xbrE8YFubOv9CE6HAvywuK+wnIuCi5NQVHbnAkFpPcLlfjMHRN+wZFGg1GTTJ1tqVqQQ9rqwb+97G6R7bbJp7/D
  model_name: google/gemini-2.5-flash-lite-preview-09-2025
tongyi-deepresearch-30b-a3b:
  type: openai
  base_url: https://openrouter.ai/api/v1
  api_key: N2Mze2ORgiKZX7Ib2hqp5sFttd2itpVm2qg7KI3I/xbrE8YFubOv9CE6HAvywuK+wnIuCi5NQVHbnAkFpPcLlfjMHRN+wZFGg1GTTJ1tqVqQQ9rqwb+97G6R7bbJp7/D
  model_name: alibaba/tongyi-deepresearch-30b-a3b